$color_1: #D87D4A; // Burnt Sienna
$color_2: #fbaf85; // Apricot
$color_3: #101010; // Jet Black
$color_4: #FFFFFF; // White
$color_5: #F1F1F1; // Off-White
$color_6: #000000; // Black
$color_7: #FAFAFA; // Snow
